*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #f9d370;
   
}
.back{
    position: relative;
}
.back a{
    color: black;
    
}
.back .back-arrow{
    position: absolute;
    top: -10px;
    left: -30rem;
}
.wrapper{
    border-radius: 30px 0px 30px 0px;
    height: 70vh;
    width: 60vh;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px rgba(255, 255, 22, 0.7);
    border: 1px solid rgba(255, 255, 22, 0.7);
    color: black;

    
}

.wrapper h1{
    padding-left: 8rem;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

input{
    height: 6.5vh;
    width: 45vh;
    border-radius: 10px;
    background: rgba(242, 241, 241, 0.2);
    border: 2px solid rgba(125, 125, 125, 0.4);
    outline: none;
    margin-bottom: 10px;
    transition: 150ms ease;
    padding-left: 15px;

}
input:hover{
    border: 2px solid black;
}
input::placeholder{
    color: rgba(144, 142, 142, 0.8);
    
}
button{
    height: 6.5vh;
    width: 40vh;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
button:hover{
    height: 6.5vh;
    width: 40vh;
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}
p{
    font-size: 14px;
}
a{
    color: cadetblue;
    text-decoration: none;
}
form div.incorrect input{
    border:2px solid #f06272;
    
}
#error-message{
    font-size: 13px;
    text-align: center;
    color: #f06272;
    padding-bottom: 10px;
}



@media (max-width: 375px) {
  .back{
    position: relative;
}
  .back a{
    color: black;
    
}
  .back .back-arrow{
    position: absolute;
    top: 10px;
    left: 1px;
}
   body .wrapper{
    width: 62vh !important;
   }
   body .wrapper h1{
    padding-left: 6.5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-size: 24px;
   }
}
@media (max-width: 768px){
    .wrapper{
        width: 52vh;
    }
    .back{
    position: relative;
}
.back a{
    color: black;
    
}
.back .back-arrow{
    position: absolute;
    top: 10px;
    left: 1px;
    
}
}

@media (min-width: 769px) and (max-width: 1024px){
    button{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }

        .back{
    position: relative;
}
.back a{
    color: black;
    
}
.back .back-arrow{
    position: absolute;
    top: 10px;
    left: 1px;
    
}
}