
@media (max-width: 768px) {
    .remove{
    display: grid;
  }
   .second-flexs {
    display: grid;
  }
  .third-flexs {
    display: grid;
  }
}

@media (min-width: 769px) and (max-width: 1028px) {
    .remove{
    display: flex;
  }
   .second-flexs {
    display: grid;
  }
  .third-flexs {
    display: grid;
  }
}
